@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rigel-Bold";
  src: url("../../public/fonts/Rigel-Bold.ttf");
}
@font-face {
  font-family: "Rigel-Light";
  src: url("../../public/fonts/Rigel-Light.ttf");
}
@font-face {
  font-family: "Rigel-Medium";
  src: url("../../public/fonts/Rigel-Medium.ttf");
}
@font-face {
  font-family: "Rigel-Regular";
  src: url("../../public/fonts/Rigel-Regular.ttf");
}
@font-face {
  font-family: "Rigel-Semibold";
  src: url("../../public/fonts/Rigel-Semibold.ttf");
}
@font-face {
  font-family: "Rigel-Extrabold";
  src: url("../../public/fonts/Rigel-Extrabold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: black;
  color: #f1f1f1;
  font-size: 1vw;
  line-height: 1;
  letter-spacing: -0.03em;
}

.cursor {
  z-index: 999;
}

.hero {
  font-family: "Rigel-Regular", sans-serif;
  font-size: 36em;
  line-height: 0.6;
}

.logo {
  font-family: "Rigel-Regular", sans-serif;
  font-size: 5rem;
}
